body{
  /* background-image: url('files/ushwf-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 180%; */
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  display: flex;
  min-height: 100vh;
}
.navigation_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.navigation_bar ul{
  list-style-type:none;
  margin:0;
  background-color: #3A0256;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}

.navigation_bar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: white; 
  font: bold 15px sans-serif;
  font-size: 16px;
  }
.navigation_bar ul li a:hover{
  color: #DA70D6;
} 

p{
  margin: 0 54% 20px 0;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px;
  background-color: #E0FFFF;
  font-size: 14px;
  font-family: Helvetica, serif;
}

a:hover{
  color: red;
  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

@media (max-width: 860px) {
  p{
    width: 60%;
  }
}

@media (max-width: 660px) {
  p{
    width: 50%;
  }
}

.portfolio ol li img {
  width: 150px;
  height: 96px;
  float: right; 
  margin:0 70px 0 20px;
  margin-right: 6%;
}


.portfolio figure img{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.portfolio figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.heart {
  position: fixed;
  top: -1vh;
  font-size:l 4rem;
  transform: translateY(0);
  animation: fall 1s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

@media only screen and (min-width: 768px) {
  .navigation_bar ul{
    height: 50px;
  }
}