body{
  background-image: url('files/ushwf-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 180%;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.navigation_bar ul{
  list-style-type:none;
  margin:0;
  padding:20px;
  text-align: center;
  background-color: black;
}

.navigation_bar li{
  display: inline;
  margin: 30px;
}

.navigation_bar ul li a { 
  text-decoration: none; 
  padding: .2em 1em; 
  color: white; 
  background-color: #000; 
  font-size: 16px;
  }
.navigation_bar ul li a:hover{
  color: #DA70D6;
} 

p{
  margin: 0 54% 20px 0;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px;
  background-color: #E0FFFF;
  font-size: 14px;
  font-family: Helvetica, serif;
}

a:hover{
  color: red;
  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
@media (max-width: 600px) {
  .navigation_bar li {
    margin: 30px 5px;
  }
  .navigation_bar ul li a{
    padding: .2em 0.5em; 
  }
}

@media (max-width: 860px) {
  p{
    width: 60%;
  }
}

@media (max-width: 660px) {
  p{
    width: 50%;
  }
}

.portfolio ol li img {
  width: 150px;
  height: 96px;
  float: right; 
  margin:0 70px 0 20px;
  margin-right: 6%;
}
